/*  general styling  */

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins-regular.ttf') format('truetype')
 }
@font-face {
	font-family: 'poppins-bold';
	src: url('../font/poppins-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-semibold';
	src: url('../font/poppins-semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-medium';
	src: url('../font/poppins-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-light';
	src: url('../font/poppins-light.ttf') format('truetype');
}

hr {
	border: 0;
	border-top: 2px solid #e6e6e6;
}

h2 {
	font-family: 'poppins-semibold';
	font-size: 18px;
	margin: 0;
}

input {
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	width: 60px;
	font-size: 18px;
	font-family: 'poppins-semibold';
	height: 21px;
}

input:focus {
	border-color: #ec7c35;
	outline: none;
}

input::placeholder {
	font-size: 12px;
	font-family: 'poppins-semibold';
	margin-bottom: 10px;
	color: #c6c6c6;
	text-align: center;
}

body {
  /*background-color: #1E314F;*/
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
  margin: 0;
  height: 100vh;
}

/*  svg styling  */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #333;
  fill: #333;
}
.icon-clock-o {
  width: 0.8571428571428571em;
}

/*  page styling  */

.page__container {
	color: #333333;
	display: flex;
	height: 100%;
	align-content: center;
}

.calc--center {
	margin: 0 auto;
}

.calc__header {
	margin: 0 0 30px;
	text-transform: initial;
    font-size: 33px;
    line-height: 38px;
    font-family: 'poppins-medium';
    max-width: 300px;
}

.calc__subheader {
	text-transform: initial;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 15px;
	height: 100%;
}

/*  left-panel info column styling  */

.info__container {
	flex: 0 0 35%;
	position: relative;
	top: 50%;
	width: 100%;
	max-width: 375px;
	margin: auto;
	color: #fff;
	transform: translateY(-50%);
}

.info__container--background {
	flex: 0 0 35%;
	background: #e96f27;
	max-width: 450px;
	height: 100%;
}

.description__container {
	margin-bottom: 60px;
}

.package__column {
	display: flex;
	justify-content: space-between;
	text-transform: initial;
}

/*  font styling  */

.font--bold {
	font-family: 'poppins-bold';
}

.font--medium {
	font-family: 'poppins-medium';
}

.font-semibold {
	font-family: 'poppins-semibold';
}

.font--light {
	font-family: 'poppins-light';
}

/*  calculator styling  */

.calc__container--background {
	height: 100%;
	width: 100%;
}

.calc__container {
	flex: 0 0 65%;
	position: relative;
	top: 50%;
	max-width: 700px;
	margin: auto;
	transform: translateY(-50%);
}

/*.calc__container:before {
	content: '';
	top: 23px;
	right: 19px;
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid #e96f27;
}*/

/*  day label styling  */

.day__container {
	font-size: 16px;
	display: inline-grid;
	margin-right: 8px;
}

.day__container label {
	display: block;
	height: 56px;
}

/*  time input styling  */

.form__container {
	display: inline-grid;
	height: 392px;
}

.toggleWrapper {
	display: inline-block;
	position: relative;
	right: 16px;
	bottom: 9px;
	padding-right: 12px;
	font-family: 'poppins-semibold';
  /*overflow: hidden;*/
  /*height: 200px;*/
}

.toggleWrapper input {
	display: inline-block;
	opacity: 0;
	width: 0;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
/*  width: 25px;
  height: 45px;
  background-color: #83D8FF;
  border-radius: 84px;*/
  transition: background-color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
	content: 'AM';
	position: relative;
	top: 2px;
	font-size: 10px;
	color: #333;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:after {
	content: 'PM';
	position: absolute;
	left: 0.5px;
	top: 20px;
	font-size: 10px;
	color: #cccccc;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*
.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #FFCF96;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.toggle__handler .crater {
  position: absolute;
  background-color: #E8CDA5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}*/

.star {
  position: absolute;
  /*background-color: #ffffff;*/
  transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /*border-radius: 50%;*/
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  /*width: 30px;*/
  height: 3px;
}

.star--2 {
	top: 23px;
	left: 19px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #808080;
}

.star--3 {
	top: 14px;
	left: 19px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #808080;
}

input:checked + .toggle {
}
input:checked + .toggle:before {
	color: #cccccc;
}
input:checked + .toggle:after {
	color: #333;
}
/*input:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(0, 20px, 0) rotate(0);
}*/
input:checked + .toggle .toggle__handler .crater {
	opacity: 1;
}
input:checked + .toggle .star--1 {
	width: 2px;
	height: 2px;
}
input:checked + .toggle .star--2 {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #808080;
}
input:checked + .toggle .star--3 {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #808080;
}

/*  daily hours total styling  */

.calc__total {
	font-size: 20px;
	font-family: 'poppins-bold';
	margin-top: 10px;
}

.calc__total p {
	margin: 0;
}

.form__day--total {
  font-size: 16px;
}

.form__week--total {
	color: #e96f27;
}