/*  general styling  */

@font-face {
  font-family: 'Poppins';
  src: url('../font/poppins-regular.ttf') format('truetype')
  font-weight: 'regular';
 }
@font-face {
	font-family: 'Poppins';
	src: url('../font/poppins-bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'Poppins';
	src: url('../font/poppins-semibold.ttf') format('truetype');
	font-weight: semibold;
}
@font-face {
	font-family: 'Poppins';
	src: url('../font/poppins-medium.ttf') format('truetype');
	font-weight: medium;
}
@font-face {
	font-family: 'Poppins';
	src: url('../font/poppins-light.ttf') format('truetype');
	font-weight: 'light';
}

input {
	border: none;
	border-bottom: 2px solid #333;
	width: 135px;
	font-size: 24px;
	font-family: 'Poppins';
	font-weight: semibold;
	height: 28px;
}

input:focus {
	border-color: #ec7c35;
	outline: none;
}

body {
  background-color: #1E314F;
  font-family: 'Poppins', sans-serif;
  font-weight: 'bold';
  text-transform: uppercase;
}

/*  svg styling  */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #333;
  fill: #333;
}
.icon-clock-o {
  width: 0.8571428571428571em;
}

/*  calculator styling  */

.calc__container {
	/*width: 90%;*/
	/*min-width: 1000px;*/
	margin: 50px;
	background: #FBFBFF;
	color: #333333;
	padding: 20px;
}

.calc--center {
	text-align: center;
	margin: 0 auto;
}

.calc__header {
	margin: 0;
	text-transform: initial;
	font-size: 24px;
}

.calc__subheader {
	text-transform: initial;
	width: 650px;
	font-size: 14px;
	line-height: 18px;
}

/*  time input styling  */

.form__container {
	padding: 35px 10px;
}

.form__day {
	font-size: 26px;
	font-weight: bold;
	margin-right: 40px;
}

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  /*overflow: hidden;*/
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
  /*height: 200px;*/
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
/*  width: 25px;
  height: 45px;
  background-color: #83D8FF;
  border-radius: 84px;*/
  transition: background-color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before {
	content: 'AM';
	position: absolute;
	left: -34.5px;
	top: 0px;
	font-weight: bold;
	font-size: 16px;
	color: #333;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:after {
	content: 'PM';
	position: absolute;
	left: -34px;
	top: 18px;
	font-size: 16px;
	font-weight: bold;
	color: #cccccc;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*
.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #FFCF96;
  border-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.toggle__handler .crater {
  position: absolute;
  background-color: #E8CDA5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}*/

.star {
  position: absolute;
  /*background-color: #ffffff;*/
  transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /*border-radius: 50%;*/
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
	top: 24px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #808080;
}

.star--3 {
	top: 9px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #808080;
}

input:checked + .toggle {
  background-color: #749DD6;
}
input:checked + .toggle:before {
  color: #cccccc;
}
input:checked + .toggle:after {
  color: #333;
}
/*input:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(0, 20px, 0) rotate(0);
}*/
input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
input:checked + .toggle .star--2 {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #808080;
}
input:checked + .toggle .star--3 {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #808080;
}


/*  daily hours total styling  */
.greyedout {
  font-size: 30px;
}