/*  general styling  */

@font-face {
  font-family: 'poppins';
  src: url('../font/poppins-regular.ttf') format('truetype')
 }
@font-face {
	font-family: 'poppins-bold';
	src: url('../font/poppins-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-semibold';
	src: url('../font/poppins-semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-medium';
	src: url('../font/poppins-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'poppins-light';
	src: url('../font/poppins-light.ttf') format('truetype');
}

hr {
	border: 0;
	border-top: 2px solid #e6e6e6;
}

h2 {
	font-family: 'poppins-semibold';
	font-size: 18px;
	margin: 0;
}

input {
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	width: 60px;
	font-size: 18px;
	font-family: 'poppins-semibold';
	height: 21px;
}

input:focus {
	border-color: #ea412f;
	outline: none;
}

input::placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
	font-size: 12px;
	font-family: 'poppins-semibold';
	margin-bottom: 10px;
	color: #c6c6c6;
	text-align: center;
}

body {
	font-family: 'poppins', sans-serif;
	text-transform: uppercase;
	margin: 0;
	height: 100vh;
}

svg {
	display: none;
}

/*  svg styling  */

.icon {
	position: relative;
	display: inline-block;
	top: 2px;
	margin-left: 14px;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: #ea412f;
	fill: #ea412f;
}

/*  page styling  */

.page__container {
	color: #333333;
	display: flex;
	height: 100%;
	align-content: center;
}

.calc--center {
	text-align: center;
}

.calc__header {
	margin: 0 0 30px;
	text-transform: initial;
    font-size: 33px;
    line-height: 38px;
    font-family: 'poppins-medium';
    max-width: 450px;
}

.calc__subheader {
	text-transform: initial;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 15px;
	height: 100%;
}

/*  left-panel info column styling  */

.info__container {
	flex: 0 0 35%;
	position: relative;
	top: 50%;
	width: 100%;
	max-width: 600px;
	margin: auto;
	color: #fff;
	transform: translateY(-50%);
}

.info__container--background {
	flex: 0 0 35%;
	background: #ea412f;
	max-width: 600px;
	height: 100%;
}

.description__container, .package__container {
	margin: 0 10% 60px;
}

.package__column {
	display: flex;
	justify-content: space-between;
	text-transform: initial;
}

.sidenote {
	padding-top: 20px;
	font-size: 14px;
	line-height: 18px;
}

/*  font styling  */

.font--bold {
	font-family: 'poppins-bold';
}

.font--medium {
	font-family: 'poppins-medium';
}

.font-semibold {
	font-family: 'poppins-semibold';
}

.font--light {
	font-family: 'poppins-light';
}

/*  calculator styling  */

.calc__container--background {
	height: 100%;
	width: 100%;
}

.calc__container {
	flex: 0 0 65%;
	position: relative;
	top: 50%;
	max-width: 770px;
	margin: auto;
	transform: translateY(-50%);
}

/*  day label styling  */

.day__container {
	font-size: 16px;
	display: inline-grid;
	margin-right: 8px;
}

.day__container label {
	display: block;
	height: 56px;
}

/*  time input styling  */

.form__container {
	display: inline-grid;
	height: 392px;
}

.toggleWrapper {
	display: inline-block;
	position: relative;
	right: 16px;
	bottom: 9px;
	padding-right: 12px;
	font-family: 'poppins-semibold';
  /*overflow: hidden;*/
  /*height: 200px;*/
}

.toggleWrapper input {
	display: inline-block;
	opacity: 0;
	width: 0;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: background-color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
	content: 'AM';
	position: relative;
	top: 2px;
	font-size: 10px;
	color: #333;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:after {
	content: 'PM';
	position: absolute;
	left: 0.5px;
	top: 20px;
	font-size: 10px;
	color: #cccccc;
	transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle--space {
	margin-right: 25px;
}

.star {
  position: absolute;
  transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  height: 3px;
}

.star--2 {
	top: 23px;
	left: 19px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #808080;
}

.star--3 {
	top: 14px;
	left: 19px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #808080;
}

input:checked + .toggle {
}
input:checked + .toggle:before {
	color: #cccccc;
}
input:checked + .toggle:after {
	color: #333;
}
/*input:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(0, 20px, 0) rotate(0);
}*/
input:checked + .toggle .toggle__handler .crater {
	opacity: 1;
}
input:checked + .toggle .star--1 {
	width: 2px;
	height: 2px;
}
input:checked + .toggle .star--2 {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #808080;
}
input:checked + .toggle .star--3 {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid #808080;
}

/*  daily hours total styling  */

.calc__total {
	font-size: 20px;
	font-family: 'poppins-bold';
	margin-top: 25px;
}

.calc__total p {
	margin: 0;
}

.form__day--second {
	opacity: 0.5;
}

.form__day--total {
  font-size: 16px;
}

.form__week--total {
	color: #ea412f;
}
